@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



  * {
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
  }
body{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
height: 100vh;

  background-image: url('./assets/storm-clouds.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
/* @apply  bg-gradient-to-r from-blue-200 via-orange-100 to-orange-200 */
}